@model SpendingWeb.Models.Category

<h2>Add Categories</h2>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
    <a class="btn btn-secondary mt-2" asp-action="Index">Back</a>
</form>