@model IEnumerable<SpendingWeb.Models.Category>

<h2>Expenses Category</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Add Category</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Back</a>